# Feature Extraction
In this step, create new features for more efficient ml model. Let's look own feature:
* SalePrice - the property's sale price in dollars. This is the target variable that you're trying to predict.
* MSSubClass: The building class
* MSZoning: The general zoning classification
* LotFrontage: Linear feet of street connected to property
* LotArea: Lot size in square feet
* Street: Type of road access
* Alley: Type of alley access
* LotShape: General shape of property
* LandContour: Flatness of the property
* Utilities: Type of utilities available
* LotConfig: Lot configuration
* LandSlope: Slope of property
* Neighborhood: Physical locations within Ames city limits
* Condition1: Proximity to main road or railroad
* Condition2: Proximity to main road or railroad (if a second is present)
* BldgType: Type of dwelling
* HouseStyle: Style of dwelling
* OverallQual: Overall material and finish quality
* OverallCond: Overall condition rating
* YearBuilt: Original construction date
* YearRemodAdd: Remodel date
* RoofStyle: Type of roof
* RoofMatl: Roof material
* Exterior1st: Exterior covering on house
* Exterior2nd: Exterior covering on house (if more than one material)
* MasVnrType: Masonry veneer type
* MasVnrArea: Masonry veneer area in square feet
* ExterQual: Exterior material quality
* ExterCond: Present condition of the material on the exterior
* Foundation: Type of foundation
* BsmtQual: Height of the basement
* BsmtCond: General condition of the basement
* BsmtExposure: Walkout or garden level basement walls
* BsmtFinType1: Quality of basement finished area
* BsmtFinSF1: Type 1 finished square feet
* BsmtFinType2: Quality of second finished area (if present)
* BsmtFinSF2: Type 2 finished square feet
* BsmtUnfSF: Unfinished square feet of basement area
* TotalBsmtSF: Total square feet of basement area
* Heating: Type of heating
* HeatingQC: Heating quality and condition
* CentralAir: Central air conditioning
* Electrical: Electrical system
* 1stFlrSF: First Floor square feet
* 2ndFlrSF: Second floor square feet
* LowQualFinSF: Low quality finished square feet (all floors)
* GrLivArea: Above grade (ground) living area square feet
* BsmtFullBath: Basement full bathrooms
* BsmtHalfBath: Basement half bathrooms
* FullBath: Full bathrooms above grade
* HalfBath: Half baths above grade
* Bedroom: Number of bedrooms above basement level
* Kitchen: Number of kitchens
* KitchenQual: Kitchen quality
* TotRmsAbvGrd: Total rooms above grade (does not include bathrooms)
* Functional: Home functionality rating
* Fireplaces: Number of fireplaces
* FireplaceQu: Fireplace quality
* GarageType: Garage location
* GarageYrBlt: Year garage was built
* GarageFinish: Interior finish of the garage
* GarageCars: Size of garage in car capacity
* GarageArea: Size of garage in square feet
* GarageQual: Garage quality
* GarageCond: Garage condition
* PavedDrive: Paved driveway
* WoodDeckSF: Wood deck area in square feet
* OpenPorchSF: Open porch area in square feet
* EnclosedPorch: Enclosed porch area in square feet
* 3SsnPorch: Three season porch area in square feet
* ScreenPorch: Screen porch area in square feet
* PoolArea: Pool area in square feet
* PoolQC: Pool quality
* Fence: Fence quality
* MiscFeature: Miscellaneous feature not covered in other categories
* MiscVal: Value of miscellaneous feature
* MoSold: Month Sold
* YrSold: Year Sold
* SaleType: Type of sale
* SaleCondition: Condition of sale

It is important to increase accuracy score. It can be decrease accuracy with created feature therefore It have to control model succes one by one.

In [1]:
from _sklearn_linear_regression import LinearRegressionSklearn

In [2]:
def get_score(df, target_col='SalePrice'):
    regression = LinearRegressionSklearn(df, target_col)
    regression.model()
    
    return regression.get_score()

In [3]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

In [4]:
df = pd.read_parquet('datasets/encode/encoded.parquet')

In [5]:
df.head()

   MSSubClass  LotFrontage  ...  SaleCondition_Partial  SaleCondition_Rare
0        60.0         65.0  ...                      0                   0
1        20.0         80.0  ...                      0                   0
2        60.0         68.0  ...                      0                   0
3        70.0         60.0  ...                      0                   0
4        60.0         84.0  ...                      0                   0

[5 rows x 171 columns]

In [6]:
df.shape

(1446, 171)

In [13]:
score = get_score(df)

In [14]:
score

0.9113344671996515

In [15]:
def compare_score(first_score=0.9113344671996515, second_score=None):
    return "Success" if max([first_score, second_score]) == second_score else "Failed"

## Creating Features

### Home Age Feature

In [16]:
dataset_year = 2016

In [17]:
df['YearBuilt'].head()

0    2003.0
1    1976.0
2    2001.0
3    1915.0
4    2000.0
Name: YearBuilt, dtype: float64

In [18]:
df['HomeAge'] = dataset_year - df['YearBuilt']

In [19]:
compare_score(second_score=get_score(df))

'Failed'

In [20]:
df.drop('HomeAge', axis=1, inplace=True)

### Total Square FootAge

In [26]:
df['TotalSF'] = df['GrLivArea'] + df['TotalBsmtSF']

In [27]:
compare_score(second_score=get_score(df))

'Success'

In [28]:
first_score = get_score(df)

### Seasonality

In [29]:
df['MoSold'].head()

0     2.0
1     5.0
2     9.0
3     2.0
4    12.0
Name: MoSold, dtype: float64

In [31]:
season = {
    'Winter': [12, 1, 2],
    'Spring': [3, 4, 5], 
    'Summer':[6, 7, 8], 
    'Fall':[9, 10, 11]
}

In [38]:
def select_season(month, season: dict=season):
    for s in season:
        if month in season.get(s):
            return s

In [43]:
select_season(11)

'Fall'

In [44]:
df['Season'] = df['MoSold'].apply(lambda x: select_season(x))

In [45]:
df[['MoSold', 'Season']].head()

   MoSold  Season
0     2.0  Winter
1     5.0  Spring
2     9.0    Fall
3     2.0  Winter
4    12.0  Winter

In [46]:
df = pd.get_dummies(df, columns=['Season'], drop_first=True)

In [47]:
compare_score(first_score=first_score, second_score=get_score(df))

'Success'

In [48]:
first_score = get_score(df)

### Lot Ratio

In [50]:
df['LotRatio'] = df['LotArea'] / df['LotFrontage']

In [51]:
compare_score(first_score=first_score, second_score=get_score(df))

'Failed'

In [52]:
df.drop('LotRatio', axis=1, inplace=True)

### Quality Score

In [53]:
df[['OverallQual', 'OverallCond']].head()

   OverallQual  OverallCond
0          7.0          5.0
1          6.0          8.0
2          7.0          5.0
3          7.0          5.0
4          8.0          5.0

In [56]:
df['OverallQual_scaled'] = (df['OverallQual'] - df['OverallQual'].min()) / (df['OverallQual'].max() - df['OverallQual'].min())

In [59]:
df['OverallCond_scaled'] = (df['OverallCond'] - df['OverallCond'].min()) / (df['OverallCond'].max() - df['OverallCond'].min())

In [61]:
df['QualityScore'] = ((df['OverallQual_scaled'] + df['OverallCond_scaled']) / 2) * 10

In [63]:
df[['OverallQual', 'OverallCond', 'QualityScore']].head()

   OverallQual  OverallCond  QualityScore
0          7.0          5.0      5.833333
1          6.0          8.0      7.152778
2          7.0          5.0      5.833333
3          7.0          5.0      5.833333
4          8.0          5.0      6.388889

In [64]:
df.drop(['OverallQual_scaled', 'OverallCond_scaled'], axis=1, inplace=True)

In [65]:
compare_score(first_score=first_score, second_score=get_score(df))

'Success'

In [66]:
first_score = get_score(df)

### Porch Area

In [69]:
df[['OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch']].head()

   OpenPorchSF  EnclosedPorch  3SsnPorch  ScreenPorch
0         61.0            0.0        0.0          0.0
1          0.0            0.0        0.0          0.0
2         42.0            0.0        0.0          0.0
3         35.0          272.0        0.0          0.0
4         84.0            0.0        0.0          0.0

In [70]:
df['PorchSF'] = df['OpenPorchSF'] + df['EnclosedPorch'] + df['3SsnPorch'] + df['ScreenPorch']

In [71]:
compare_score(first_score=first_score, second_score=get_score(df))

'Success'

In [72]:
first_score = get_score(df)

### Total Bathrooms

In [74]:
df[['FullBath', 'HalfBath', 'BsmtFullBath', 'BsmtHalfBath']].head()

   FullBath  HalfBath  BsmtFullBath  BsmtHalfBath
0       2.0       1.0           1.0           0.0
1       2.0       0.0           0.0           1.0
2       2.0       1.0           1.0           0.0
3       1.0       0.0           1.0           0.0
4       2.0       1.0           1.0           0.0

In [75]:
df['TotalBath'] = df['FullBath'] + df['HalfBath'] + df['BsmtFullBath'] + df['BsmtHalfBath']

In [76]:
compare_score(first_score=first_score, second_score=get_score(df))

'Failed'

In [77]:
df.drop('TotalBath', axis=1, inplace=True)

### Lot Coverage

In [78]:
df['LotCoverage'] = df['TotalSF'] / df['LotArea']

In [79]:
compare_score(first_score=first_score, second_score=get_score(df))

'Success'

In [80]:
first_score = get_score(df)

## Conclusion

In [108]:
get_score(df)

0.9139201929973824

In [86]:
df.to_parquet('datasets/featured/featured.parquet')

<div class="alert alert-block alert-info"> <b>Final:</b> With new features, accuracy increased <b>0.9113329100844768<b> to <b>0.9139201929973824<b> </div>